.todo-list-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background-color: var(--dark-grey-bg);
  border-radius: 45px;
  margin-inline: auto;
  padding: 45px;
  width: 600px;
}

.todo-list-page .filters {
  display: flex;
  gap: 1rem;
}

.todo-list-page .filters .filter {
  cursor: pointer;
  justify-self: end;
}
